{% extends "header.html" %}
{% block content %}

  <div class="jumbotron">
    <div class="container">
      <h1>Watch with <strong> {{ userName }} </strong> </h1>
      <p>Find great shows, movies, and more to watch with new friends or old pals.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Events you are attending:</h3>
      </div>
    </div>
    <div class="row">
    {% for event in events %}
      <div class="col-md-3 col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>{{ event.title }}</h4>
          </div>
          <div class="panel-body">
            <p>Showing {{ event.media }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
    <hr>
  </div>
{% endblock %}
