{% extends "header.html" %}
{% block content %}

  <div class="jumbotron">
    <div class="container">
      <h1>Watch with {{ userName }}</h1>
      <p>Find great shows, movies, and more to watch with new friends or old pals.</p>
    </div>
  </div>

  <div class="container">
    <h3> What to watch </h3>
    <hr>
    {% for event in events %}
    <div class="panel panel-danger">
      <div class="panel-heading">{{ event.title }}</div>
      <div class="panel-body">Showing {{ event.media }}</div>
    </div>
    {% endfor %}
    <hr>
  </div>
{% endblock %}
